<!DOCTYPE html>
<html>
<head>
  <title>Table Example</title>
</head>
<body>
  <table border="1" >
    {{#tablefor 5}}
      <tr>
         {{#tablefor 6}}
         <td>Hello</td>
        {{/tablefor}}
      </tr>
    {{/tablefor}}
  </table>
</body>
</html>
