<!DOCTYPE html>
<html>
<head>
    <title>Chọn Album</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script></head>
<body>
    <div class="container mt-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
               
                <span class="navbar-text ml-auto">
                    Xin chào, {{name}}
                </span>
           
            </div>
        </nav>
        <h2>Photo Album</h2>
        
            <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#createAlbumModal">Tạo Album</button>
       
        <div class="row">
{{#each listAlbums}}
<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <a href="/album/{{this.id}}" class="btn btn-primary">Xem Album</a>
        </div>
    </div>
</div>
{{/each}}

        </div>
    </div>


    <div class="modal fade" id="createAlbumModal" tabindex="-1" role="dialog" aria-labelledby="createAlbumModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createAlbumModalLabel">Tạo Album Mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/createAlbum" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Tên Album</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Mô tả Album</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Tạo Album</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
